@use '../config' as *;

// linear-gradient(to right, rgba($primary, .95), rgba($secondary, .95))

.menu {
  display: flex;
  list-style: none;
  padding: 1rem 0 0 0;
  flex-direction: row;
  background: $primary;

<<<<<<< HEAD
  li {
    padding: 0 0.7rem;

    a {
      color: $white;
      padding: 0 0.7rem;
      text-transform: capitalize;
      font-weight: 600;
    }
=======
    li {
        padding: 0 0.7rem;

        a {
            color: $white;
            padding: 0 0.7rem;
            text-transform: capitalize;
            font-weight: 600;
        }
>>>>>>> 70609d4f007e7ef8d0bb40ceac5f221f0697eb89

    &:hover {
      color: $white;
    }
  }
}
