@use '../config' as *;

.services {
<<<<<<< HEAD
  position: relative;
  padding: 0;
  background: linear-gradient(to right, rgba($primary, 0.95), rgba($secondary, 0.95));
=======
    position: relative;
    padding: 0;
    background: linear-gradient(
        to right,
        rgba($primary, 0.95),
        rgba($secondary, 0.95)
    );
>>>>>>> 70609d4f007e7ef8d0bb40ceac5f221f0697eb89
}
