<footer class="text-center text-white" style="background-color: var(--secondary-color);">
    <div class="container p-4">
        <section class="mb-4">
            <a class="btn btn-outline-light btn-floating m-1" role="button" href="#"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" role="button" href="#"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" role="button" href="#"><i class="fab fa-google"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" role="button" href="#"><i class="fab fa-instagram-f"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" role="button" href="#"><i class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" role="button" href="#"><i class="fab fa-github"></i></a>
        </section>

        <section class="mb-4">
            <p><%- FooterDescription %></p>
        </section>

        <section>
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5>LINKS</h5>

                    <ul class="">

                    </ul>
                </div>

            </div>
        </section>
    </div>
    <div class="text-center p-3" style="background-color: var(--text-color);">© 2021 KingCh1ll Creations</div>
</footer>

              <!--Grid column-->
              <div class="">
                <h5 class="text-uppercase">Links</h5>
      
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#!" class="text-white">Link 1</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white">Link 2</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white">Link 3</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white">Link 4</a>
                  </li>
                </ul>
              </div>
