<div id="reviews">
    <div class="container aos-init aos-animate" data-aos="fade">
        <div class="row">
            <% reviews.forEach(review => { %>
                <div class="col-lg-4 col-md-12 text-center mb-6">
                    <div class="mb-3 text-warning mx-auto">
                        <% review.stars.forEach(star => { %>
                            <i class="fas fa-star mr-1"></i>
                        <% }) %>
                    </div>

                    <% if () { %>

                        <% } %>
                            <h5 class="mb-3 initialism">KingCh1ll</h5>
                            <p class="mb-0 text-muted lead">I'm not selling my services yet. This means there won't any reviews for now.</p>
                </div>
                <% }) %>
        </div>
    </div>
</div>