<!DOCTYPE html>
<html>
  <head>
    <title>Home - Ch1ll Studios</title>

    <%- include("head") -%>
  </head>
  <body>
    <div class="container">
      <!-- Header -->
      <header>
        <a class="logo" href="#home">
          <img src="https://imgur.com/weSwLKV.png" alt="Ch1ll Studios' Logo" />
        </a>
        <nav>
          <ul class="nav-bar">
            <div class="bg"></div>
            <li><a class="nav-link" href="#home">Home</a></li>
            <li><a class="nav-link" href="#games">Games</a></li>
            <li><a class="nav-link" href="#team">Team</a></li>
          </ul>

          <div class="headfade">
            <div class="fade1"></div>
            <div class="fade2"></div>
            <div class="fade3"></div>
          </div>
        </nav>
      </header>
      <main>
        <!-- Home -->
        <div id="home">
          <div class="filter"></div>
          <section class="intro">
            <h3>Ch1ll Studios<hr/></h3>
            <p>A developement studio creating games for people to enjoy</p>

            <!-- Links -->
            <div class="social-media">
              <a href="https://youtube.com/" target="_blank">
                <i class="fab fa-youtube"></i>
              </a>

              <a href="https://GitHub.com/" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </div>
          </section>
        </div>

        <!-- Games -->
        <div id="games">
          <h3>Games<hr/></h3>
          <p>Say hello to our games made on Roblox!</p>
          <div class="work-box">
            <div class="work">
              <div class="card">
                <img
                  class="work-img"
                  src="https://t2.rbxcdn.com/28d18ff00d4907c3b7c82d2725f61bda"
                />
                <a
                  href="https://www.roblox.com/games/6036265396/Early-Access-Project-Dont-Oof"
                  target="_blank"
                >
                  <div class="work-content">Project: Don't OOF</div></a
                >
              </div>
            </div>
          </div>
        </div>

        <!-- Team -->
        <div id="team">
          <h3>
            Team
            <hr />
          </h3>
          <p>Meet the team behind our games!</p>
          <div class="work-box">
            <div class="work">
              <div class="card">
                <img
                  class="work-img"
                  src="https://www.roblox.com/headshot-thumbnail/image?userId=434248250&width=420&height=420&format=png"
                />
                <a href="https://www.roblox.com/users/434248250/profile" target="_blank"><div class="work-content">KingCh1ll</div></a>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="copyright">
        © 2021 KingCh1ll. All rights reserved. KingCh1ll is NOT affiliated with <a href="https://discordapp.com">Discord Inc.</a> nor <a href="https://roblox.com">Roblox Inc.</a>
      </footer>
    </div>
  </body>
</html>
