# Node
.node_repl_history
.npm

# Visual Studio
.launch.json
.eslintrc.json
.prettierrc
.editorconfig

# Dependancy Directories
node_modules

# Environmental Variables
.env

# Recycle Bin
$RECYCLE.BIN/
