# Node
.node_repl_history
.npm

# Visual Studio
.vscode
.eslintrc.json
.prettierrc
.editorconfig

# Dependancy Directories
node_modules
dependerros

# Environmental Variables
.env

# Recycle Bin
$RECYCLE.BIN/
