
<footer class="copyright">
    © 2021 KingCh1ll. All rights reserved. KingCh1ll is NOT affiliated with <a href="https://discordapp.com">Discord Inc.</a> nor <a href="https://roblox.com">Roblox Inc.</a>
</footer>