<!DOCTYPE html>
<html>
  <!-- Head -->
  <head>
    <!-- Title -->
    <title>Error - Ch1ll</title>

    <%- include("components/head") %>
  </head>

  <!-- Frames -->
  <body class="body">
    <div class="container">
      
    <!-- Header -->
      <header>
        <a class="logo" href="/home">
          <img src="/favicon.ico" alt="KingCh1ll's Logo"/>
        </a>
        <nav>
          <ul class="nav-bar">
            <div class="bg"></div>
            <li><a class="nav-link" href="/home">Home</a></li>
            <li><a class="nav-link" href="/ch1llstudios">Ch1ll Studios</a></li>
            <li><a class="nav-link" href="/ch1llblox">Ch1llBlox</a></li>
          </ul>
          <div class="headfade">
            <div class="fade1"></div>
            <div class="fade2"></div>
            <div class="fade3"></div>
          </div>
        </nav>
      </header>

      <main>
        <!-- Home -->
        <div id="home">
          <div class="filter"></div>
          <section class="intro">
            <h3>500 | Error!
            <p>Uh oh! You found a glitch.</p>

            <!-- Buttons -->
            <div class="buttons">
              <a href="/home">Home</a>
            </div>
          </section>
        </div>
      </main>

      <%- include("components/footer") -%>
    </div>
    </div>
  </body>
</html>
