<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home - <%= bot.name %></title>

    <%- include("components/head") -%>
  </head>
  <body>
    <div class="container">
      <%- include("components/header", {
        bot,
        user
      }) -%>

      <main>
        <!-- Home -->
        <div id="home">
          <div class="filter"></div>

          <!--Main-->
          <div class="d-flex justify-content-center head">
            <h1><b>Ch1llBlox</b></h1>
          </div>
          <div class="d-flex justify-content-center subtext">
            <p>"Build your discord server - for free"</p>
          </div>

          <div class="ccontainer custom-1">
            <img class="custom-image" src="" />
            <h3 class="align-self-start">
              <b>Welcome Message and Auto Role</b>
            </h3>
            <p>yes very pog trust me</p>
          </div>

          <div class="ccontainer pt-10 custom-2">
            <img src="" />
            <h3><b>Easily Create Custom Tags</b></h3>
            <p>yes</p>
          </div>

          <div class="ccontainer custom-1 pt-16">
            <img class="custom-image" src="" />
            <h3 class="align-self-start"><b>Easy To Moderate</b></h3>
            <p>
              REEEEEEEEEEEEEEEEEEEE
            </p>
          </div>

          <div class="ccontainer pt-10 custom-2">
            <img src="" />
            <h3><b>Very Good Help Command</b></h3>
            <p>
              lol
            </p>
          </div>
          <%- include("components/footer") -%>
        </div>
      </main>
    </div>
  </body>
</html>
