<!DOCTYPE html>
<html>
  <!-- Head -->
  <head>
    <!-- Title -->
    <title>503 | Ch1ll</title>

    <%- include("components/head") %>
  </head>

  <!-- Frames -->
  <div class="container">
      <main>
        <!-- Home -->
        <div id="home">
          <div class="filter"></div>
          <section class="intro">
            <h3>Down for Maintance<hr/></h3>
            <p>We'll be right back!</p>

            <!-- Links -->
            <div class="social-media">
              <a href="https://twitter.com/" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>

              <a href="https://youtube.com/" target="_blank">
                <i class="fab fa-youtube"></i>
              </a>

              <a href="https://GitHub.com/" target="_blank">
                <i class="fab fa-GitHub"></i>
              </a>
            </div>
          </section>
        </div>
      </main>
      <%- include("components/footer") %>
    </div>
</html>
