<nav class="navbar navbar-expand-lg navbar-light bg-light" style="color: var(--main-color); border-top-width: 6px; border-top-style: solid; background: var(--background-color);">
  <div class="container-fluid">
    <a class="navbar-brand" href="/bot" style="color: var(--main-color); font-family: 'Slfa Slab One', cursive;">Ch1llBlox</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#ch1llblox-s-features" style="color: var(--text-color);">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/commands" style="color: var(--text-color);">Commands</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/invite" style="color: var(--text-color);">Invite</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <% if (user) { %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= user.username %>
            </a>
            
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/bot/dashboard">Dashboard</a></li>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/api/logout" style="color: red">Logout</a></li>
            </ul>
          </div>
          </li>
          <% } else { %>
            <li class="nav-item"><a href="/api/login" class="nav-link" style="color: rgb(0, 183, 255)">Login</a></li>
          <% } %>
      </ul>
    </div>
  </div>
</nav>