/*!
 * Ch1llest Site v1.0.0 (https://ch1llest.ch1ll.dev/)
 * Copyright 2021 KingCh1ll
 * All rights reserved.
 */

// Components
@use 'components/buttons';
@use 'components/mixins';
@use 'components/typography';

// Sections
@use 'sections/navbar';
@use 'sections/hero';
@use 'sections/companies';
@use 'sections/footer';

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #111218;
}

::-webkit-scrollbar-thumb:hover {
    background: #1c1c24;
}
