.avatar {
  height: 38px;
  width: 38px;
  color: #fff;
  background-color: #adb5bd;
  display: inline-flex;
  font-size: 1rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.avatar img {
  width: 100%;
  border-radius: 50%;
}

.avatar .avatar-content {
  display: inline-block;
  margin-left: 0.75rem;
}

.avatar-lg {
  height: 68px;
  width: 68px;
  font-size: 0.775rem;
}

.avatar-sm {
  height: 24px;
  width: 24px;
  font-size: 0.775rem;
}
