<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("Parts/head", {
    SiteTitle: "Commands - Ch1llBlox",
    SiteDescription: "Ch1llBlox is a Discord Bot",

    SiteKeywords: "KingCh1ll, King, Ch1ll, KingChill, Chill, Discord, Developer, Developer Discord, Discord Developer, Roblox, Roblox Developer, Developer Roblox, Ch1llBlox, Ch1ll, Blox, chillblox, chill bot, top.gg"
  }) -%>
</head>

<body style="background-color: var(--main-color);" data-aos-easing="ease" data-aos-duration="400">
  <%- include("Parts/navagation", {
    name: "Ch1llBlox",
    domainname: "#top",

    linkname: "Ch1llBlox",
    linkicon: "fas fa-robot",
    link: "#top",

    linkname2: "Home",
    linkicon2: "fas fa-home",
    link2: "/home",

    linkname3: "Ch1ll Studios",
    linkicon3: "fas fa-snowflake",
    link3: "/ch1llstudios",
  
    linkname4: "",
    linkicon4: "",
    link4: "",

    linkname5: "",
    linkicon5: "",
    link5: ""
  }) -%>

<% include("Parts/top", {
  Logo: "/assets/images/RedesignCh1llBlox.png",
  backgroundURL: "/assets/images/RobloxGBanner.jpg"
}) %>
  
  <div class="container">
    <h2>All Commands</h2>

    <div class="dropdown">
      <div class="dropdown-item">
        <button id="according-button-1" aria-expanded="false">
          <span class="dropdown-title">
            Commands
          </span>
        </button>

        <div class="dropdown-content">
          <p>
            haha yes
            <br>
            test
          </p>
        </div>
      </div>
      </div>
  </div>
  
  <%- include("Parts/footer", {
    FooterDescription: "Ch1llBlox is a free Discord bot created by KingCh1ll to make your server active without spending any money."
  }) %> 

  <%- include("Parts/scripts") %>
</body>
</html>
