<!DOCTYPE html>
<html lang="en">
<head>
  <title>Commands - Ch1llBlox</title>

  <%- include("Parts/head") %>
</head>

<body style="background-color: var(--main-color);">
  <div id="top" style="height: 12px;">
    <div class="background" style="background: url(/assets/images/RobloxGBanner.jpg);"></div>

    <%- include("Parts/navagation", {
      name: "Ch1llBlox",
      domainname: "/bot",

      linkname: "Home",
      link: "/home",

      linkname2: "Dashboard",
      link2: "/bot/dashboard",

      linkname3: "",
      link3: "",
      
      linkname4: "",
      link4: ""
    }) -%>
  </div>
  
  <div class="container">
    <h2>All Commands</h2>

    <div class="dropdown">
      <div class="dropdown-item">
        <button id="according-button-1" aria-expanded="false">
          <span class="dropdown-title">
            Commands
          </span>
        </button>

        <div class="dropdown-content">
          <p>
            haha yes
            <br>
            test
          </p>
        </div>
      </div>
      </div>
  </div>
  
  <div class="footer-dark" style="background: var(--secondary-color); padding-top: 0px; padding-bottom: 0px;">
  <div class="container">
    <div class="row">
      <div class="col item social">
        <a href="#top">
          <i class="fab fa-youtube"></i>
        </a>
      </div>
    </div>
    <p class="copyright" style="color: var(--text-color);">© 2021 Ch1llBlox. All rights reserved. Ch1llBlox is NOT affiliated with <a href="https://discordapp.com/">Discord</a> nor <a href="https://roblox.com/home">Roblox</a>.</p>
  </div>
  </div>
  
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
