<!DOCTYPE html>
<html>
  <head>
    <%- include("Parts/head", {
      SiteTitle: "404 | KingCh1ll",
      SiteDescription: "KingCh1ll is a self-taught coder. He knows html, css, javascript, lua and more!",

      SiteKeywords: "KingCh1ll, King, Ch1ll, KingChill, Chill, Discord, Developer, Developer Discord, Discord Developer, Roblox, Roblox Developer, Developer Roblox"
    }) -%>
  </head>

  <body style="background-color: var(--main-color);" data-aos-easing="ease" data-aos-duration="400">
    <%- include("Parts/navagation", {
      name: "KingCh1ll",
      domainname: "/home",

      linkname: "Home",
      linkicon: "fas fa-home",
      link: "/home",

      linkname2: "Ch1llBlox",
      linkicon2: "fas fa-robot",
      link2: "/bot",

      linkname3: "Ch1ll Studios",
      linkicon3: "fas fa-snowflake",
      link3: "/ch1llstudios",
    
      linkname4: "",
      linkicon4: "",
      link4: "",

      linkname5: "",
      linkicon5: "",
      link5: ""
    }) -%>

    <div id="top">
      <div class="background"></div>
    </div>

    <header class="d-xl-flex flex-column justify-content-xl-center align-items-xl-center"
    style="height: 418px; text-align: center; margin: 55px;">
    <img class="rounded" src="/assets/images/404.png" width="150" height="150" style="margin-top: 30px;">
    <h1 class="d-xl-flex justify-content-xl-start" style="color: var(--bot-text-color);">404 | Not Found</h1>
    <h1 class="d-xl-flex justify-content-xl-start" style="color: var(--secondary-text-color);">Whatever page you were looking for wasn't found. Dang man!</h1>

      <div role="group" class="btn-group">
        <a href="/home" class="btn btn-primary shadow-none" type="button" style="margin: 5px; background-color: var(--main-color); border-color: var(--main-color); border-color: var(--main-color); border-radius: 10px;">Go Home</a>
      </div>
  </header>

  <%- include("Parts/footer", {
    FooterDescription: "KingCh1ll is a self taught developer that enjoys coding. He knows many coding languages."
  }) %>

  <%- include("Parts/scripts") %>
  </body>
</html>
