<!DOCTYPE html>
<html>
  <head>
    <%- include("Parts/head", {
      SiteTitle: "Error! | KingCh1ll",
      SiteDescription: "KingCh1ll is a self-taught coder. He knows html, css, javascript, lua and more!",

      SiteKeywords: "KingCh1ll, King, Ch1ll, KingChill, Chill, Discord, Developer, Developer Discord, Discord Developer, Roblox, Roblox Developer, Developer Roblox"
    }) -%>
  </head>

  <!-- Frames -->
  <body style="background-color: var(--main-color);" data-aos-easing="ease" data-aos-duration="400">
    <%- include("Parts/navagation", {
      name: "KingCh1ll",
      domainname: "/home",

      linkname: "Home",
      linkicon: "fas fa-home",
      link: "/home",

      linkname2: "Ch1llBlox",
      linkicon2: "fas fa-robot",
      link2: "/bot",

      linkname3: "Ch1ll Studios",
      linkicon3: "fas fa-snowflake",
      link3: "/ch1llstudios",
    
      linkname4: "",
      linkicon4: "",
      link4: "",

      linkname5: "",
      linkicon5: "",
      link5: ""
    }) -%>
    
    <div id="top">
      <div class="background"></div>

      <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="/assets/images/500.png" alt="Error Code 500 Image" width="150" height="150" style="margin-top: 30px;">
        <h1 class="display-5 fw-bold" style="color: var(--text-color)">Error Occured</h1>
        <div class="col-lg-6 mx-auto">
          <h2 class="display" style="color: var(--text-color)">Uhhh...</h2>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/home" type="button" class="btn btn-primary shadow-none" type="button" style="margin: 5px; background-color: var(--secondary-color); border-color: var(--secondary-color); border-color: var(--secondary-color); color: var(--text-color); border-radius: 10px">Home</a>
          </div>
        </div>
      </div>
    </div>

    <%- include("Parts/footer", {
      FooterDescription: "KingCh1ll is a self taught developer that enjoys coding. He knows many coding languages."
    }) %> 

    <%- include("Parts/scripts") %>
  </body>
</html>
