<!DOCTYPE html>
<html>
  <head>
    <%- include("Parts/head", {
      SiteTitle: "Home - KingCh1ll",
      SiteDescription: "KingCh1ll is a self-taught coder. He knows html, css, javascript, lua and more!",

      SiteKeywords: "KingCh1ll, King, Ch1ll, KingChill, Chill, Discord, Developer, Developer Discord, Discord Developer, Roblox, Roblox Developer, Developer Roblox"
    }) -%>
  </head>

  <body style="background-color: var(--main-color);" data-aos-easing="ease" data-aos-duration="400">
    <%- include("Parts/navagation", {
      name: "KingCh1ll",
      domainname: "#top",

      linkname: "Home",
      linkicon: "fas fa-home",
      link: "#top",

      linkname2: "Ch1llBlox",
      linkicon2: "fas fa-robot",
      link2: "/bot",

      linkname3: "Ch1ll Studios",
      linkicon3: "fas fa-snowflake",
      link3: "/ch1llstudios",
    
      linkname4: "",
      linkicon4: "",
      link4: "",

      linkname5: "",
      linkicon5: "",
      link5: ""
    }) -%>

    <div id="top">
      <div class="background"></div>
    
      <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="/assets/images/kingch1ll.png" alt="KingCh1ll's Logo" width="150" height="150" style="margin-top: 30px;">
        <h1 class="display-5 fw-bold" style="color: var(--text-color)">KingCh1ll</h1>
        <div class="col-lg-6 mx-auto">
          <h2 class="display" style="color: var(--text-color)"><span id="typed">Professional Developer</span></h2>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/bot" type="button" class="btn btn-primary shadow-none" type="button" style="margin: 5px; background-color: var(--secondary-color); border-color: var(--secondary-color); border-color: var(--secondary-color); color: var(--text-color); border-radius: 10px">Ch1llBlox</a>
            <a href="/ch1llstudios" type="button" class="btn btn-primary shadow-none" type="button" style="margin: 5px; background-color: var(--secondary-color); border-color: var(--secondary-color); border-color: var(--secondary-color); color: var(--text-color); border-radius: 10px">Ch1ll Studios</a>
          </div>
        </div>
      </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="var(--secondary-color)" fill-opacity="1" d="M0,160L80,176C160,192,320,224,480,213.3C640,203,800,149,960,117.3C1120,85,1280,75,1360,69.3L1440,64L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
    </svg>

    <div id="features">
      <div class="features-boxed" style="background: var(--secondary-color);">
        <div class="container" style="color: var(--main-color);">
          <div class="intro">
            <h2 class="text-center aos-init aos-animate" style="color: var(--text-color)" data-aos="fade-up">Roblox Games</h2>
          </div>
  
          <div class="row justify-content-center features">
            <div class="col-sm-col-md-5 col-lg-4 item">
              <div id="Features aos-init aos-animate" class="box" style="border-radius: 34px;" data-aos="fade-up">
                <img src="/assets/images/RVT.png" style="color: var(--main-color);" width="125" height="125" alt="Roblox Videos Theater Icon"></img>
  
                <a src="https://www.roblox.com/games/5748202585/ROBLOX-Videos-Theater">
                  <h3 class="name">ROBLOX Videos Theater</h3>
                </a>
  
                <p class="description">Powering Roblox cartoons with a modern YouTube-like interface.</p>
              </div>
  
              <div id="Features aos-init aos-animate" class="box" style="border-radius: 34px;" data-aos="fade-up">
                <img src="/assets/images/TC.png" style="color: var(--main-color);" width="125" height="125" alt="Team Create Icon"></img>
  
                <a src="https://www.roblox.com/games/5451436770/Team-Create">
                  <h3 class="name">Team Create</h3>
                </a>
              
                <p class="description">Work together to dominate over others. The rules are simple! One builds, one shoots. Easy, right?</p>
              </div>
  
              <div id="Features aos-init aos-animate" class="box" style="border-radius: 34px;" data-aos="fade-up">
                <img src="/assets/images/ME.png" style="color: var(--main-color);" width="125" height="125" alt="Message Me Icon"></img>
  
                <a src="https://www.roblox.com/games/5196974140/Message-Me">
                  <h3 class="name">Message Me</h3>
                </a>
              
                <p class="description">Want to message me on Roblox with feedback? Do so in my game, Message Me!</p>
              </div>
  
  
              
            </div>
          </div>
        </div>
      </div>
  
      <div class="features-boxed" style="background: var(--secondary-color);">
      <div class="container" style="color: var(--main-color);">
        <div class="intro">
          <h2 class="text-center aos-init aos-animate" style="color: var(--text-color)" data-aos="fade-up">Roblox Plugins</h2>
        </div>
  
        <div class="row justify-content-center features">
          <div class="col-sm-col-md-5 col-lg-4 item">
            <div id="Features aos-init aos-animate" class="box" style="border-radius: 34px;" data-aos="fade-up">
              <i class="fa fa-bolt icon" style="color: var(--main-color);"></i>
  
              <a href="https://www.roblox.com/library/5699907726/Studio-Plus">
                <h3 class="name">Studio Plus</h3>
              </a>
  
              <p class="description">Power Roblox Studio like never before.
                The ultimate features to improve your workflow!</p>
            </div>
          </div>
        </div>
      </div>
      </div>
  
      <div class="features-boxed" style="background: var(--secondary-color);">
      <div class="container" style="color: var(--main-color);">
        <div class="intro">
          <h2 class="text-center aos-init aos-animate" style="color: var(--text-color)"  data-aos="fade-up">Discord Bots</h2>
        </div>
  
        <div class="row justify-content-center features">
          <div class="col-sm-col-md-5 col-lg-4 item">
            <div id="Features aos-init aos-animate" class="box" style="border-radius: 34px;" data-aos="fade-up">
              <i class="fa fa-bolt icon" style="color: var(--main-color);"></i>
  
              <h3 class="name">24/7 Uptime</h3>
              <p class="description">Ch1llBlox is up 24/7!</p>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div style="background-color: var(--main-color);">
      <div style="height: 320px; overflow: hidden;">
        <svg viewBox="0 0 500 320" preserveAspectRatio="none" style="height: 100%; width: 100%;">
          <path d="M-41.53,-9.56 C167.83,173.98 302.14,-60.89 534.09,89.10 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: var(--secondary-color);"></path>
        </svg>
      </div>
    </div>

    <div class="pb-7 pt-10" id="reviews">
      <div class="container aos-init aos-animate" data-aos="fade">
        <div class="row">
          <div class="col-lg-4 col-md-12 text-center mb-6">
            <div class="mb-3 text-warning mx-auto">
              <i class="fas fa-star mr-1"></i>
              <i class="fas fa-star mr-1"></i>
              <i class="fas fa-star mr-1"></i>
              <i class="fas fa-star mr-1"></i>
              <i class="fas fa-star mr-1"></i>
            </div>

            <h5 class="mb-3 initialism">KingCh1ll</h5>
            <p class="mb-0 text-muted lead">I'm not selling my services yet. This means there won't any reviews for now.</p>
          </div>

          
        </div>
      </div>
    </div>

    <footer class="footer mt-auto py-3 bg-light" style="background: var(--secondary-color); padding-top: 0px; padding-bottom: 0px;">
        <div class="row">
          <div class="col item social">
            <a href="https://github.com/KingCh1ll" target="_blank">
              <i class="fab fa-github"></i>
            </a>
  
            <a href="https://www.youtube.com/channel/UCvOB4pLdL7V4FmPdyNdfFeQ" target="_blank">
              <i class="fab fa-youtube"></i>
            </a>
          </div>
        </div>
        <p class="copyright" style="color: var(--text-color);">© 2021 KingCh1ll. All rights reserved. KingCh1ll is NOT
          affiliated with <a href="https://discordapp.com/">Discord</a> nor <a href="https://roblox.com/home">Roblox</a>.
        </p>
      </div>
    </footer>

    <%- include("Parts/footer", {
      FooterDescription: "KingCh1ll is a self taught developer that enjoys coding. He knows many coding languages."
    }) %> 

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/smooth-scroll.js"></script>
    <script src="/assets/js/jquery.bootstrap-autohidingnavbar.min.js"></script>
    <script src="/assets/js/pace.min.js" type="module"></script>
    <script src="/assets/js/typed.js"></script>
    <script src="/assets/js/handle.js"></script>
  </body>
</html>
