<!DOCTYPE html>
<html lang="en">
  <% if (head) { %>
    <% include("parts/head", head) %> 
  <% } %>

  <body style="background-color: var(--main-color);" data-aos-easing="ease" data-aos-duration="400">
    <noscript>
      To use this website, you need JavaScript enabled.
    </noscript>

    <div id="loading">
      <div id="loading-center">
        <div id="loading-center-absolute">
          <div class="loader"></div>
        </div>
      </div>
    </div>

    <% if (navagation) { %>
     <% include("parts/navagation", navagation) %> 
    <% } %>

    <% if (top) { %>
     <% include("parts/top", top) %> 
    <% } %>

    <% if (features) { %>
      <% include("parts/features", features) %> 
    <% } %>

    <% if (reviews) { %>
      <% include("parts/reviews", reviews) %> 
    <% } %>

    <% if (footer) { %>
      <% include("parts/footer", footer) %> 
    <% } %>
    
    <% include("parts/scripts") %>
  </body>
</html>
