<footer class="text-center text-white" style="background-color: var(--secondary-color);">
    <div class="container p-4">
        <section class="mb-4">
            <a class="btn btn-outline-light btn-floating m-1" role="button" href="#" target="_blank"><i class="fab fa-youtube"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" role="button" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" role="button" href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" role="button" href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" role="button" href="#" target="_blank"><i class="fab fa-github"></i></a>
        </section>

        <section class="mb-4">
            <p><%- FooterDescription %></p>
        </section>

        <section>
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5>LINKS</h5>

                    <ul class="list-unstyled mb-0">
                        <li><a href="//top.gg/bot/7631262081495859616" class="text-white">Ch1llBlox</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5>LEGAL</h5>

                    <ul class="list-unstyled mb-0">
                        <li><a href="/tos" class="text-white">TOS</a></li>
                        <li><a href="/privacy-policy" class="text-white">Privacy Policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5>PARTNERS</h5>

                    <ul class="list-unstyled mb-0">
                        <li><a href="//top.gg/bot/732960261308153896" class="text-white">AnimeBot</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </div>

    <div class="text-center p-3" style="background-color: var(--background-color);">© 2021 KingCh1ll Creations. All rights reserved. KingCh1ll Creations is NOT affiliated with <a style="color: var(--text-color)" href="https://discordapp.com/">Discord</a> nor <a style="color: var(--text-color)" href="https://www.roblox.com/home">Roblox</a></div>
</footer>
